

div.homeDiv {
    width: 100%;
    text-align: center;
}

.imageDiv {
    margin-top: 5%;
    margin-bottom: 5%
}

div.imageDiv img {
    display:block;
    margin:auto;
    height:60%;
    width:60%;
}

.signalDiv {
    background-color: red;
}

.signalSpan {
    color: white;
    font-weight:bold;
}

.locationSpan {
    font-size: 1.5em;
    font-weight: bolder;
}

.siteDiv {
    background-color: #799839;
}

.siteSpan {
    color: white;
    font-size: 2em;
    font-weight: bolder;
}