body {
    width:100%;
    height:100%;
}

div.content {
    width:240px;
    height:320px;
    border:1px solid black;
}

div.homeDiv {
    width: 100%;
}

#signalSpan {
    background-color: red;
}

#locationSpan {
    font-size:large;
    font-weight:bold;
}