.content {
    height:100%;
    width: 100%;
}

div.homeDiv {
    width: 100%;
    text-align: center;
}

.imageDiv {
    margin-top: 15%;
    margin-bottom: 15%;
}

.homeHeader {
    position:absolute;
    top:0;
    width:100%;
    height:10%;
    /*background-color:red;*/
}

.actionDiv {
    position:fixed;
    top:10%;
    width:100%;    
    /*background-color:pink;*/
}

.homeFooter {
    position:absolute;
    bottom:0;
    width:100%;
    height:28%;
    /*background-color:blue;*/
}

div.imageDiv img {
    display:block;
    margin:auto;
    /*width:50%;
    height:50%;*/
}

.signalDiv {
    background-color: red;
}

.signalSpan {
    color: white;
    font-weight:bold;
}

.locationSpan {
    font-size: 2em;
    font-weight: bolder;
}

.siteDiv {
    background-color: #799839;
}

.siteSpan {
    color: white;
    font-size: 3em;
    font-weight: bolder;
}
#MessageSpan {
    font-size: 1.5em;
}