<div id="cautionDiv" data-bind="with: caution">

    <div id="cautionImage">
        <img src="img/caution.png"/>
        <span id="cautionSpan">CAUTION</span>
    </div>

    <div id="cautionHeader" class="formHeader">
        <span id="cautionMessage" class="message" data-bind="html: message()">
        </span>
    </div>

    <div id="cautionFooter" class="formFooter">
        <input type="button" id="btnCautionOk" class="gadgetButton fastButton" value="Ok" data-bind="click: function(){$root.changeView('confirm');}">
        <input type="button" id="btnCautionCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>
