<div id="confirmDiv" class="view" data-bind="with: confirm">
    <div id="confirmBody" class="form main">
        <div class="vertical center">
            <!--<div><input type="button" id="btnConfirm" class="ok fastButton" value="Confirm" data-bind="click: function(){this.confirmOperation()};"></div><br>-->
        	<span id="confirmMessage" class="bigMessage" data-bind="html: message()"></span>
        </div>
    </div>
    <div id="confirmFooter" class="form footer">
        <input type="button" id="btnConfirmOk" class="ok footerButton fastButton" value="OK" data-bind="click: function(){this.confirmOperation()};">
        <input type="button" id="btnConfirmCancel" class="cancel footerButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>