<div id="extrasFooter" class="formFooter">
    <input type="button" id="btnExtrasHistory" class="gadgetButton fastButton" value="History">
    <input type="button" id="btnExtrasManualLock" class="gadgetButton fastButton" value="Manual Lock">
    <input type="button" id="btnExtrasLoadSites" class="gadgetButton fastButton" value="Trapping Area">
    <input type="button" id="btnExtrasRandom" class="gadgetButton fastButton" value="Random Site">
    <input type="button" id="btnExtrasQC" class="gadgetButton fastButton" value="QC">
    <input type="button" id="btnExtrasCancel" class="cancelButton fastButton" value="Cancel">
</div>
