<div id="historyDiv" class="view" data-bind="with: history">
    <div id="historyBody" class="form main">
        <span id="historyMessage" class="message" data-bind="visible: pages() < 1">No history yet!</span>
        <table id="historyTable" class="stripedTable">
            <tbody data-bind="foreach: currentPage">
            <tr>
                <td data-bind="text: message"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td data-bind="visible: pages() > 0, text: pageCounter()"></td>
            </tr>
            </tfoot>
        </table><br>
    </div>
    <div id="historyFooter" class="form footer">
        <input type="button" id="btnHistoryPrev" class="footerButton fastButton" value="<<" data-bind="enable: previous, click: function(){this.changePage(-1);}">
        <input type="button" id="btnHistoryClose" class="cancel footerButton fastButton" value="Exit" data-bind="click: function(){$root.changeView('home');}">
        <input type="button" id="btnHistoryNext" class="footerButton fastButton" value=">>" data-bind="enable: next, click: function(){this.changePage(1);}">
    </div>
</div>