<div id="home" class="view" data-bind="with: home">
    <div id="homeHeader" class="homeHeader">
        <div id="locationDiv" class="homeDiv">
                    <span id="locationSpan" class="locationSpan" data-bind="text: location()">
                        <!--<%= currentUtm.Zone + ", " + currentUtm.Easting + "E, " + currentUtm.Northing + "N" %>-->
                    </span>
        </div>
    </div>

    <div id="ActionDiv" class="actionDiv" data-bind="click: function(){$root.changeView(operation());}">
        <img id="homeImage" data-bind="attr: {src: image()}"/>
    </div>

    <div id="infoDiv">
        <div id="lockDiv" data-bind="visible: $root.manualLock()" style="float: left;">
            <img id="lockImage" src="img/locked.gif"/>
        </div>
        <div id="inspectDiv" data-bind="visible: inspected()" style="float: right;">
            <img id="inspectImage" src="img/magGlassSmall.gif"/>
        </div>
    </div>

    <div id="homeFooter" class="homeFooter">

        <div id="distanceDiv" class="homeDiv">
                        <span id="distanceSpan" class="message" data-bind="text: positionInfo()">
                            <!--<% if(selectedSite.get('relativePosition').get('found')) { %>
                            <%= selectedSite.get('relativePosition').get('distance')
                             + " (&plusmn" + accuracy + ") meters "
                             + selectedSite.get('relativePosition').get('bearing')
                            %>
                            <% } else { %>
                            <%="No sites found in zone " + currentUtm.Zone %>
                            <% } %>-->
                        </span>
        </div>

        <div id="siteDiv" class="homeDiv siteDiv" data-bind="style: {backgroundColor: relativePosition().distanceOutside > 0 ? 'red' : 'yellowgreen'}">
                        <span id="siteSpan" class="siteSpan" data-bind="text: siteInfo()">
                            <!--<% if(selectedSite.get('site').quad  !== '') { %>
                            <%= selectedSite.get('site').quad + ':' + selectedSite.get('site').site_id%>
                            <% } else { %>
                            <%= "No Site" %>
                            <% } %>-->
                        </span>
        </div>

        <div id="messageDiv" class="homeDiv">
            <input type="button" id="btnHomeExtras" data-bind="click: function(){$root.changeView('extras');}">
            <span id="messageSpan" data-bind="text: message()"><!--<%= message %>--></span>
        </div>
    </div>
</div>