<div id="homeDiv" class="view" data-bind="with: home">
    <div id="homeHeader" class="homeHeader">
        <div id="locationDiv" class="homeDiv">
            <span id="locationSpan" class="locationSpan" data-bind="text: location(), style:{color: gpsStatus() ? 'black' : 'red'}, visible: found()"></span><br>
            <div id="counterDiv" class="signalDiv" data-bind="style: {backgroundColor: gpsStatus() ? '#9CCB3B' : 'transparent', width: signalCount()}"></div>
        </div>

    </div>

    <div id="ActionDiv" class="actionDiv" >
        <!--<img id="homeImage" data-bind="click: function(){this.goToView(this.operation());}, attr: {src: image()}"/>-->
        <input id="homeImage" type="image" data-bind="enable: foundSite(), click: function(){this.goToView(this.operation());}, attr: {src: image()}"/>
    </div>

    <div id="homeFooter" class="homeFooter">
        <div id="infoDiv">
            <div id="lockDiv" data-bind="visible: $root.manualLock()" style="float: left;">
                <img id="lockImage" src="img/locked.gif"/>
            </div>
            <div id="inspectDiv" data-bind="visible: inspected()" style="float: right;">
                <img id="inspectImage" src="img/magGlassSmall.gif"/>
            </div>
        </div>

        <div id="distanceDiv" class="homeDiv">
            <span id="distanceSpan" class="message" data-bind="text: positionInfo()"></span>
        </div>

        <div id="siteDiv" class="homeDiv siteDiv" data-bind="style: {backgroundColor: relPos().distanceOutside > 0 ? 'red' : 'yellowgreen'}">
            <span id="siteSpan" class="siteSpan" data-bind="text: siteInfo()"></span>
        </div>

        <div id="messageDiv" class="homeDiv">
            <input type="button" id="btnHomeExtras" data-bind="click: function(){this.goToView('extras');}">
            <span id="messageSpan" data-bind="text: message()"></span>
        </div>
    </div>
</div>