<div id="inspectionDiv" class="view" data-bind="with: inspection">
    <div id="inspectionBody" class="form main">
        <div class="vertical center">
            <span class="bigMessage">Select Inspection Type</span><br>
            <select id="selectInspectionType" data-bind="options: visitTypes,
                                                        optionsText: 'label',
                                                        value: selectedVisit">
            </select><br>
            <span class="bigMessage">Select Trap Condition</span><br>
            <select id="selectCondition" data-bind="options: conditions,
                                                        optionsText: 'label',
                                                        value: selectedCondition">
            </select><br>
            <div id="enterCount" data-bind="visible: showCount">
                <span class="bigMessage">Enter Moth Count:</span><br>
                <input id="mothCount" data-bind="value: moths" type="number"/>
            </div>
        </div>
    </div>

    <div id="inspectionFooter" class="form footer">
        <input type="button" id="btnInspectionOk" class="okButton fastButton" value="Ok" data-bind="click: function(){this.startInspection()}">
        <input type="button" id="btnInspectionCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>