<div id="inspectionDiv" data-bind="with: inspection">
    <div id="inspectionHeader" class="formHeader">
        <span class="message">Select Inspection Type</span><br>
        <select id="selectInspectionType" data-bind="options: visitTypes,
                                                    optionsText: 'label',
                                                    value: selectedVisit">
        </select><br>
        <span class="message">Select Trap Condition</span><br>
        <select id="selectCondition" data-bind="options: conditions,
                                                    optionsText: 'label',
                                                    value: selectedCondition">
        </select><br>
        <div id="enterCount" class="message" data-bind="visible: showCount">
            <span class="message">Enter Moth Count:</span><br>
            <input class="message" id="mothCount" data-bind="value: moths" type="number"/>
        </div>
    </div>

    <div id="inspectionFooter" class="formFooter">
        <input type="button" id="btnInspectionOk" class="gadgetButton fastButton" value="Ok" data-bind="click: function(){this.startInspection()}">
        <input type="button" id="btnInspectionCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>