<div id="loadSitesDiv" data-bind="with: loadSites">
    <div id="loadSitesHeader" class="formHeader">
        <select id="selectSitesFile" data-bind="options: optionsArray,
                                                optionsText: 'label',
                                                value: selectedFile">
        </select>
    </div>

    <div id="loadSitesFooter" class="formFooter">
        <input type="button" id="btnLoadSitesOk" class="gadgetButton fastButton" value="Ok" data-bind="click: function(){this.loadFile();}">
        <input type="button" id="btnLoadSitesCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>