<div id="manualLockHeader" class="formHeader">
    <select id="selectSite">
        <% _.each(nearestSites, function(nearest) { %>
        <option><%= nearest.quad + ':' + nearest.site_id %></option>
        <% }); %>
        <option><%= disableMessage %></option>
    </select>
</div>

<div id="manualLockFooter" class="formFooter">
    <input type="button" id="btnManualLockOk" class="gadgetButton fastButton" value="Ok">
    <input type="button" id="btnManualLockCancel" class="cancelButton fastButton" value="Cancel">
</div>
