<div id="omitDiv" class="view" data-bind="with: omit">
    <div id="omitBody" class="form main">
        <div class="vertical center">
            <span class="bigMessage">Select Omit Reason:</span><br><br>
            <select id="selectOmitReason" data-bind="options: omit_reasons,
                                                     optionsText: 'label',
                                                     value: selectedReason">
            </select>
        </div>
    </div>

    <div id="omitFooter" class="form footer">
        <input type="button" id="btnOmitOk" class="ok footerButton fastButton" value="OK" data-bind="click: function(){this.startOmit()}">
        <input type="button" id="btnOmitCancel" class="cancel footerButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>