<div id="omitHeader" class="formHeader">
    <select id="selectOmitReason">
        <option value="H">Nothing to hang trap on</option>
        <option value="L">Landowner denied access</option>
        <option value="O">Obstacle prohibits access</option>
        <option value="W">Too wet</option>
        <option value="R">Too rough or steep</option>
        <option value="V">Vegetation too thick</option>
        <option value="S">Unsafe</option>
    </select>
</div>

<div id="omitFooter" class="formFooter">
    <input type="button" id="btnOmitOk" class="gadgetButton" value="Ok">
    <input type="button" id="btnOmitCancel" class="cancelButton" value="Cancel">
</div>