<div id="omitDiv" data-bind="with: omit">
    <div id="omitHeader" class="formHeader">
        <span>Select omit reason:</span><br>
        <select id="selectOmitReason" data-bind="options: omit_reasons,
                                                 optionsText: 'label',
                                                 value: selectedReason">
        </select>
    </div>

    <div id="omitFooter" class="formFooter">
        <input type="button" id="btnOmitOk" class="gadgetButton fastButton" value="Ok" data-bind="click: function(){this.startOmit()}">
        <input type="button" id="btnOmitCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>