<div id="placementDiv" class="view" data-bind="with: place">
    <div id="placementBody" class="form main">
        <div class="vertical center">
            <span class="bigMessage">Confirm placement of</span><br>
            <select id="selectTrap" data-bind="options: trap_types, value: selectedTrap"></select><span class="bigMessage">trap</span><br>
            <span class="bigMessage" data-bind="html: message()"></span><br><br>
            <input type="button" id="btnPlacement" class="gadgetButton fastButton" value="Place Trap" data-bind="click: function(){this.startPlacement()}">
            <input type="button" id="btnOmit" class="gadgetButton fastButton" value="Omit Site" data-bind="enable: $root.selectedSite().site_id < 9000, click: function(){$root.changeView('omit')}">
        </div>
    </div>
    <div id="placementFooter" class="form footer">
        <input type="button" id="btnPlacementCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>