<div id="qcDiv" class="view" data-bind="with: qc">
    <div id="qcBody" class="form main">
        <div class="vertical center">
            <span class="bigMessage">Select Trap Condition</span><br>
            <select id="selectCondition" data-bind="options: conditions,
                                                            optionsText: 'label',
                                                            value: selectedCondition">
            </select><br><br>
            <span class="bigMessage">Select Pass or Fail Reason</span><br>
            <select id="selectInspectionType" data-bind="options: failOptions,
                                                            optionsText: 'label',
                                                            value: selectedFail">
            </select><br><br>
            <input type="button" id="btnQC" class="gadgetButton fastButton" value="Continue" data-bind="click: function(){this.startQC()}">
        </div>
    </div>

    <div id="qcFooter" class="form footer">
        <!--<input type="button" id="btnQCOk" class="ok footerButton fastButton" value="OK" data-bind="click: function(){this.startQC()}">-->
        <input type="button" id="btnQCCancel" class="cancel footerButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>