<div id="randomDiv" class="view" data-bind="with: random">
    <div id="randomBody" class="form main">
        <div class="vertical center">
        	<span id="randomMessage" class="bigMessage">Place a Random Site?</span>
    	</div>
    </div>

    <div id="randomFooter" class="form footer">
        <input type="button" id="btnRandomOk" class="okButton fastButton" value="Ok" data-bind="click: function(){this.startRandom()};">
        <input type="button" id="btnRandomCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>