<div id="settingsDiv" class="view" data-bind="with: settings">
    <div id="settingsBody" class="form main">
        <form id="settings">
            <ul>
                <li><label class="message">Display Metric Units </label><input type="checkbox" data-bind="checked: metric" /></li>
                <li data-bind="visible: $root.magneticCompass"><label class="message">Use Magnetic Compass </label><input type="checkbox" data-bind="checked: compass"/></li>
            </ul><br>
            <ul>
                <li><label class="message">Enter Passcode: </label><input type="password" data-bind="value: code"></li>
                <li data-bind="visible: codeMatch"><label class="message">Track Logging </label><input type="checkbox" data-bind="checked: track" /></li>
                <li data-bind="visible: codeMatch"><label class="message">Data Uploads </label><input type="checkbox" data-bind="checked: upload" /></li>
            </ul>
        </form>
    </div>
    <div id="settingsFooter" class="form footer">
        <input type="button" id="btnSettingsOK" class="okButton fastButton" value="OK" data-bind="click: function(){this.updateSettings();}">
        <input type="button" id="btnSettingsCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>
