<div id="settingsDiv" data-bind="with: settings">
    <div id="settingsFooter" class="formFooter">
        <span class="message">State: <select id="selectState" data-bind="options: states, value: selectedState"></select></span><br>
        <span class="message">Email: <input type="text" id="textEmail" data-bind="value: email"></span><br>
        <span class="message">Initials: <input type="text" id="textInitials" data-bind="value: initials"></span><br>
        <span class="message"><input type="checkbox" data-bind="checked: metric" /> Use Metric</span><br>
        <span class="message"><input type="checkbox" data-bind="checked: compass" /> Display Compass</span><br>
        <span class="message"><input type="checkbox" data-bind="checked: track" /> Track Logging</span><br>
        <span class="message"><input type="checkbox" data-bind="checked: upload" /> Direct Data Uploads</span><br>
        <span class="message" data-bind="visible: upload">Upload URL: <input type="text" id="textURL" data-bind="value: url"></span><br>
        <input type="button" id="btnSettingsOK" class="gadgetButton fastButton" value="OK" data-bind="click: function(){this.updateSettings();}">
        <input type="button" id="btnSettingsCancel" class="cancelButton fastButton" value="Cancel" data-bind="click: function(){$root.changeView('home');}">
    </div>
</div>
