<div id="uploadDiv" class="view" data-bind="with: upload">
    <div id="uploadBody" class="form main">
        <div class="vertical center">
	        <span id="uploadMessage" class="bigMessage">Upload Trapping Activity Log?</span><br>
	        <input type="text" id="tagInput" data-bind="value: tag, visible: showTag"><br>
	        <div id="progressDiv" class="progress" data-bind="style: {width: progress()}, visible: showProgress"></div>
        </div>
    </div>

    <div id="uploadFooter" class="form footer">
        <input type="button" id="btnUloadOk" class="ok footerButton fastButton" value="OK" data-bind="click: function(){this.upload()};">
        <input type="button" id="btnUploadCancel" class="cancel footerButton fastButton" value="Cancel" data-bind="click: function(){this.cancel();}">
    </div>
</div>