<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <title>Home</title>
        <link rel="stylesheet" href="css/gadget.css" type="text/css" />
        <link rel="stylesheet" href="css/home.css" type="text/css" />
        <link rel="stylesheet" href="css/buttons.css" type="text/css" />
        <link rel="stylesheet" href="css/history.css" type="text/css" />
    </head>
    <body>
        <div id="content" class="content">
            <script type="text/template" id="splash-template">
                <div id="splashHeader">

                </div>
                <div id="splashImage">
                    <img class="splash" src="img/splash.png" />
                </div>
                <div id="splashText">
                    <span id="splashSpan" class="splash"><%= message %></span>
                </div>
            </script>
            <script type="text/template" id="home-template">
                <div id="homeHeader" class="homeHeader">
                    <div id="locationDiv" class="homeDiv">
                    <span id="locationSpan" class="locationSpan">
                        <%= currentUtm.Zone + ", " + currentUtm.Easting + "E, " + currentUtm.Northing + "N" %>
                    </span>
                    </div>
                </div>

                <div id="ActionDiv" class="actionDiv">
                    <img id="homeImage" src="img/greenTree.gif"/>
                </div>

                <div id="homeFooter" class="homeFooter">
                    <div id="distanceDiv" class="homeDiv">
                        <span id="distanceSpan" class="message">
                            <% if(selectedSite.get('relativePosition').get('found')) { %>
                            <%= selectedSite.get('relativePosition').get('distance')
                             + " (&plusmn" + currentLatLon.Accuracy + ") meters "
                             + selectedSite.get('relativePosition').get('bearing')
                            %>
                            <% } else { %>
                            <%="No sites found in zone " + currentUtm.Zone %>
                            <% } %>
                        </span>
                    </div>

                    <div id="siteDiv" class="homeDiv siteDiv">
                        <span id="siteSpan" class="siteSpan">
                            <% if(selectedSite.get('site').quad  !== '') { %>
                            <%= selectedSite.get('site').quad + ':' + selectedSite.get('site').site_id%>
                            <% } else { %>
                            <%= "No Site" %>
                            <% } %>
                        </span>
                    </div>

                    <div id="messageDiv" class="homeDiv">
                        <input type="button" id="btnHomeExtras">
                        <span id="messageSpan"><%= message %></span>
                    </div>
                </div>
            </script>
            <script type="text/template" id="placement-template">
                <div id="placementTop" class="formHeader">
                    <span class="message">Confirm placement of</span><br />
                    <select id="selectTraptype">
                        <option val="0" selected="selected"><%= selectedSite.get('site').trap_type%></option>
                        <option val="1"><%= selectedSite.get('site').trap_type === 'Delta' ? 'Milk Carton' : 'Delta'%></option>
                    </select>
                    <span class="message">at site <%=selectedSite.get('site').quad + ':' + selectedSite.get('site').site_id%></span><br />
                    <span class="message"><%= currentUtm.Easting + 'E ' + currentUtm.Northing + 'N' %></span>
                </div>
                <div id="placementBottom" class="formFooter">
                    <input type="button" id="btnPlacementOk" class="gadgetButton" value="Place Trap">
                    <input type="button" id="btnPlacementOmit" class="gadgetButton" value="Omit Site">
                    <input type="button" id="btnPlacementCancel" class="cancelButton" value="Cancel">
                </div>
            </script>







			<script type="text/template" id="history-template">
                <div id="historyDiv" class="historyHeader">
                    <%if (pages.total === 0) { %>
                        <span id="historyMessage" class="message">No history yet!</span>
                    <% } else { %>
                        <table id="historyTable" class="stripedTable">
                            <tbody>
                                <% _.each(messages, function(msg) { %>
                                    <tr>
                                        <td><%= msg %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Page <%= pages.page %> of <%= pages.total %></td>
                                </tr>
                            </tfoot>
                        </table>
                    <% } %>
                </div>
                <div id="historyFooter" class="formFooter">
                    <% if(pages.previous) { %>
                        <input type="button" id="btnHistoryPrev" class="gadgetButton" value="Previous">
                    <% } %>
                    <% if(pages.next) { %>
                        <input type="button" id="btnHistoryNext" class="gadgetButton" value="Next">
                    <% } %>
                    <input type="button" id="btnHistoryClose" class="cancelButton" value="Exit">
                </div>
            </script>
        </div>

        <script type="text/javascript" src="phonegap.js"></script>
        <!--<script type="text/javascript" src="main.min.js"></script>-->
        <script type="text/javascript" data-main="js/Main" src="js/lib/require.js"></script>

    </body>
</html>
