body {
}

.imageDiv {
    margin-top: 5%;
    margin-bottom: 5%
}

div.imageDiv img {
    display:block;
    margin:auto;
    height:60%;
    width:60%;
}

.cautionSpan {
    font-weight:700;
    color:red;
    text-align:center;
}

div.messageDiv {
    height:25%;
}
