body {

}

input.gadgetButton {
    background-color: #9CCB3B;
    font-weight:700;
    width:100%;
    height:10%;
    margin: 0 auto;
}

input.cancelButton {
    background-color: #DEA625;
    font-weight:700;
    width:100%;
    height:10%;
    margin: 0 auto;

}
