span.message {
    font-size: 2em;
    font-weight: bold;
}

span.dataMessage {
    background-color: #C0C4BE;
    display: block;
    margin: auto;
}

select {
    height: 2em;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    background-color: #C0C4BE;
    text-align: center;
    margin: auto;
    display: block;
}

.formHeader {
    padding: 1em;
    text-align: center;
    background-color: #E1E3E0;
    margin: auto;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.formFooter {
    bottom:0;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.gadgetButton {
    background-color: #9CCB3B;
    font-size: 2em;
    font-weight: bold;
    width:100%;
    margin-bottom: 1%;
}

.cancelButton {
    background-color: #DEA625;
    font-size: 2em;
    font-weight: bold;
    width:100%;
    margin: auto;
    margin-bottom: 1%;

}

#cautionSpan {
    font-weight:700;
    color:red;
    text-align:center;
}

#cautionImage {
    margin: auto;
    text-align: center;
}

#cautionImage img {
    display:block;
    margin:auto;
    height:25%;
    text-align: center;
}

#splashSpan {
    font-size: 2em;
    font-weight: bold;
}

#splashHeader {
    width:100%;
    height:25%;
    float:left;
    clear:left;
}

#splashImage {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
}

#splashText {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
}
